

name: Generate PDF Resume

on:
  push:
    branches:
      - main
    paths:
      - 'resume.html' # run only this file changes

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y wkhtmltopdf

      - name: Generate PDF from HTML
        run: |
          wkhtmltopdf resume.html gheorghe-sendrea-resume.pdf

      - name: Commit and push PDF
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add gheorghe-sendrea-resume.pdf
          git commit -m "Update PDF Resume"
          git push
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
